<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link <%= title == 'Dashboard' && 'active' %>" aria-current="page" href="/">
            <span data-feather="home"></span>
            Dashboard
          </a>
        </li>
      </ul>
      <% if (sessionUser.role == 'manager') { %>    
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Data Master</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link <%= title.includes('Karyawan') && 'active' %>" href="/karyawan">
              <span data-feather="users"></span>
              Karyawan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title.includes('Pelanggan') && 'active' %>" href="/pelanggan">
              <span data-feather="users"></span>
              Pelanggan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title.includes('Pemesanan') && 'active' %>" href="/pemesanan">
              <span data-feather="shopping-cart"></span>
              Pemesanan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title.includes('Survey') && 'active' %>" href="/survey">
              <span data-feather="truck"></span>
              Survey
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title.includes('Tagihan') && 'active' %>" href="/tagihan">
              <span data-feather="tag"></span>
              Tagihan
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link <%= title.includes('Pembayaran') && 'active' %>" href="/pembayaran">
                <span data-feather="percent"></span>
                Pembayaran
              </a>
          </li>
        </ul>
      <% } %> 

      <% if (sessionUser.role == 'hrd') { %>       
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Laporan</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link <%= title.includes('Absensi') && 'active' %>" href="/absensi">
              <span data-feather="file-text"></span>
              Absensi
            </a>
          </li>
        </ul>
      <% } %>
    </div>
</nav>