<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siaga Mandatama Karya | <%= title %> </title>
    <link rel="shortcut icon" href="/image/logo/logo.png" type="image/png">
    <%- include('../styling') %> 
</head>
<body>
    <%- include('../partials/header') %> 
    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/sidebar') %> 

            <!-- MAIN -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><%= title %></h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/survey" class="btn btn-sm btn-outline-danger">
                      <span data-feather="chevron-left"></span>
                      Kembali
                    </a>
                  </div>
                </div>
          
                <form>
                    <input type="hidden" value="<%= data.id_survey %>" class="form-control" id="id_survey">
                    <div class="row">
                        <div class="col-lg-12">
                            <h6><%= data.pemesanan.no_order %> </h6>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="id_users" class="form-label">Karyawan Bertugas</label>
                                <select class="form-select select2-form" id="id_users" aria-label="Default select example">
                                    <option value="" selected>Pilih Karyawan</option>
                                    <% data_karyawan.forEach(element => { %>
                                        <option value="<%= element.id_users %>" <%= element.id_users == data.id_users && 'selected' %>><%= element.nama_user %></option>
                                        <% }) %>
                                    </select>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="updateSurvey()" id="update_btn_survey">Ubah</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <%- include('../scripting') %> 
</body>
</html>