<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siaga Mandatama Karya | <%= title %> </title>
    <link rel="shortcut icon" href="/image/logo/logo.png" type="image/png">
    <%- include('../styling') %> 
</head>
<body>
    <%- include('../partials/header') %> 
    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/sidebar') %> 

            <!-- MAIN -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><%= title %></h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/pembayaran" class="btn btn-sm btn-outline-danger">
                      <span data-feather="chevron-left"></span>
                      Kembali
                    </a>
                  </div>
                </div>
          
                <form>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="id_tagihan" class="form-label">Nomor Order</label>
                                <select class="form-select select2-form" id="id_tagihan" aria-label="Default select example">
                                <option value="" selected>Pilih Nomor Order</option>
                                    <% data.forEach(element => { %>
                                        <option value="<%= element.id_tagihan %> "><%= element.survey.pemesanan.no_order %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="jenis_pembayaran" class="form-label">Jenis Pembayaran</label>
                                <select class="form-select" id="jenis_pembayaran">
                                    <option value="" selected>Pilih Pembayaran</option>
                                    <% list_pembayaran.forEach(element => { %>
                                        <option value="<%= element %>"><%= element %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="createPembayaran()" id="create_btn_pembayaran">Bayar</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <%- include('../scripting') %> 
</body>
</html>