<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siaga Mandatama Karya | <%= title %> </title>
    <link rel="shortcut icon" href="/image/logo/logo.png" type="image/png">
    <%- include('../styling') %> 
</head>
<body>
    <%- include('../partials/header') %> 
    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/sidebar') %> 

            <!-- MAIN -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><%= title %></h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/pelanggan" class="btn btn-sm btn-outline-danger">
                      <span data-feather="chevron-left"></span>
                      Kembali
                    </a>
                  </div>
                </div>
          
                <form>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="nama_pelanggan" class="form-label">Nama Pelanggan</label>
                                <input type="text" class="form-control" id="nama_pelanggan" placeholder="nama pelanggan">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="nama_pemail_pelangganelanggan" class="form-label">Email Pelanggan</label>
                                <input type="email" class="form-control" id="email_pelanggan" placeholder="email pelanggan">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="nohp_pelanggan" class="form-label">No Handphone</label>
                                <input type="number" class="form-control" id="nohp_pelanggan" placeholder="no hp">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="alamat_pelanggan" class="form-label">Alamat Pelanggan</label>
                                <textarea class="form-control" id="alamat_pelanggan" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="createPelanggan()" id="create_btn_pelanggan">Submit</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <%- include('../scripting') %> 
</body>
</html>