<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siaga Mandatama Karya | <%= title %> </title>
    <link rel="shortcut icon" href="/image/logo/logo.png" type="image/png">
    <%- include('../styling') %> 
</head>
<body>
    <%- include('../partials/header') %> 
    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/sidebar') %> 

            <!-- MAIN -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><%= title %></h1>
                  <div class="row">
                    <div class="col">
                      <input type="date" class="form-control" value="<%= moment().format('YYYY-MM-DD') %>" id="start_date" aria-label="First name">
                    </div>
                    <div class="col">
                      <input type="date" class="form-control" value="<%= moment().format('YYYY-MM-DD') %>" id="end_date" aria-label="Last name">
                    </div>
                    <div class="col">
                      <button class="btn btn-outline-primary" type="button" onclick="filterData()">Filter</button>
                    </div>
                  </div>
                </div>
          
                <div class="table-responsive">
                    <table class="table table-striped table-sm" id="table_absensi">
                      <thead>
                        <tr>
                          <th scope="col">Karyawan</th>
                          <th scope="col">Tgl Absen</th>
                          <th scope="col">Jam Masuk</th>
                          <th scope="col">Lokasi Masuk</th>
                          <th scope="col">Jam Keluar</th>
                          <th scope="col">Lokasi Keluar</th>
                          <!-- <th scope="col">Aksi</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(element => { %>                         
                          <tr>
                            <td class="align-center"><%= element.users.nama_user %></td>
                            <td><%= moment(element.tanggal_absen).format('DD MMM YYYY') %></td>
                            <td><%= element.jam_masuk %></td>
                            <td>
                              <a href="http://www.google.com/maps/place/<%= element.lokasi_masuk %>" target="_blank">
                                <%= element.lokasi_masuk %>
                              </a>
                            </td>
                            <td><%= element.jam_keluar == null ? '-' : element.jam_keluar %></td>
                            <td>
                              <% if (element.lokasi_keluar == null) { %>
                               -
                              <% } else { %>
                                <a href="http://www.google.com/maps/place/<%= element.lokasi_keluar %>" target="_blank">
                                  <%= element.lokasi_keluar %>
                                </a>
                              <% } %> 
                            </td>
                            <!-- <td>
                              <a class="btn btn-info btn-sm" href="/pelanggan/ubah?id=<%= element.id_pelanggan %>">Ubah</a>
                              <button class="btn btn-danger btn-sm" type="button" onclick="deletePelanggan('<%= element.id_pelanggan %>')">Hapus</button>
                            </td> -->
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <%- include('../scripting') %> 
</body>
</html>